<div class="card">
    <div class="widget invert widget--items-middle">
        <div class="widget__icon_layer widget__icon_layer--right">
            <span class="li-server"></span>
        </div>
        <div class="widget__container">
            <div class="widget__line">
                <div class="widget__icon">
                    <span class="li-server"></span>
                </div>
                <div class="widget__title">Updates</div>
                <div class="widget__subtitle">Latest events on server</div>
            </div>
        </div>
    </div>
    <div class="card-body padding-left-0">

        <div class="timeline timeline--simple">

            <div class="timeline__item">
                <div class="dot dot-warning"></div>
                <div class="content">
                    <div class="title margin-bottom-0">Uploaded <strong>xEtt0www.exe</strong> file to /dev/www/files from <strong>192.168.1.123</strong> - <a href="#">Details...</a></div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="dot dot-danger"></div>
                <div class="content">
                    <div class="title margin-bottom-0">Error: <strong>Disabled access</strong> to /dev/www/upload/temp folder - <strong>permission denied</strong></div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="dot dot-warning"></div>
                <div class="content">
                    <div class="title margin-bottom-0">Changed permission: for folder /dev/www/upload to <strong>755</strong> - <a href="#">Details...</a></div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="dot dot-success"></div>
                <div class="content">
                    <div class="title margin-bottom-0"><strong>Opened connection</strong> to <strong>MySQL server</strong></div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="dot dot-danger"></div>
                <div class="content">
                    <div class="title margin-bottom-0">Error: <strong>Can't connect</strong> to <strong>MySQL server</strong>, error code <strong>x122</strong></div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="dot dot-danger"></div>
                <div class="content">
                    <div class="title margin-bottom-0">Error: <strong>Can't connect</strong> to <strong>MySQL server</strong>, error code <strong>x122</strong></div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="dot dot-warning"></div>
                <div class="content">
                    <div class="title margin-bottom-0">Uploaded <strong>package.zip</strong> file to /dev/www/files from <strong>192.168.1.8</strong> - <a href="#">Details...</a></div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="dot dot-warning"></div>
                <div class="content">
                    <div class="title margin-bottom-0"><strong>Server returned</strong> error number <strong>505</strong> on page <strong>/orders</strong></div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="dot dot-danger"></div>
                <div class="content">
                    <div class="title margin-bottom-0">Error: <strong>MySQL</strong> stoped responding <strong>Too many opened connections</strong></div>
                </div>
            </div>
        </div>

    </div>
</div>