
<form method="get">
    <input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
    <div class="row">
        <div class="col-2 col-lg-1 d-none d-md-block py-2">
            Filter:
        </div>
        <div class="col-6 col-lg-2 d-none d-md-block">
            <select class="form-control customPeriod" name="gender" tabindex="-1" aria-hidden="true">
                <option value="">by gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Any">Any</option>
            </select>
        </div>
        <div class="col-4 col-lg-2">
            <select class="form-control actionWithSelected" name="location" tabindex="-1" aria-hidden="true">
                <option value="">by location</option>
                <repeat group="{{ @SESSION.locations }}" key="{{@key}}" value="{{ @app }}" counter="{{@count}}">
                    <option value="{{@app.name}}">{{@app.name}}</option>
                </repeat>
            </select>
        </div>
        <!-- <div class="col-4 col-lg-2">
            <select class="form-control actionWithSelected" name="roles" tabindex="-1" aria-hidden="true">
                <option value="">by roles</option>
                <repeat group="{{ @SESSION.roles }}" key="{{@key}}" value="{{ @app }}" counter="{{@count}}">
                    <option value="{{@app.id}}">{{@app.name}}</option>
                </repeat>
            </select>
        </div> -->
        
        <div class="col-12 col-lg-2 d-none d-md-block">
            <button type="submit" class="btn btn-secondary btn-block btn-click">Filter Records</button>
        </div>
        <div class="col-12 col-lg-2 d-none d-md-block">
            
        </div>
        
        <div class="col-6 col-lg-2 d-none d-md-block">
            <check if="{{@SESSION.account=='ADMIN'}}">
                <true>
                    <div class="row">
                        <div class="col-3 py-2"><label>Export: </label></div>
                        <div class="col-9 form-group">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-light btn-click" data-href="{{@BASE}}/download/csv" data-target="_blank">CSV</button>
                                <button type="button" class="btn btn-light btn-click" data-href="{{@BASE}}/download/xls" data-target="_blank">EXCEL</button>
                                <button type="button" class="btn btn-light btn-click" data-href="{{@BASE}}/download/pdf" data-target="_blank">PDF</button>
                                <button type="button" class="btn btn-light btn-click" data-href="{{@BASE}}/download/print" data-target="_blank">PRINT</button>
                            </div>
                        </div>
                    </div>
                </true>
            </check>
        </div>
    </div>
</form>