
<div class="card">
    
    <div class="card-body padding-left-2">

        <div class="row">

            <div class="col-12 col-lg-9">
        
                <div class="row">
                    <div class="col-12 col-lg-3 margin-bottom-20">
        
                        <div class="widget invert">
                            <div class="widget__icon_layer widget__icon_layer--right">
                                <span class="li-archive2"></span>
                            </div>
                            <div class="widget__container">
                                <div class="widget__line">
                                    <div class="widget__icon">
                                        <span class="li-archive2"></span>
                                    </div>
                                    <div class="widget__title">Total Applications</div>
                                    <div class="widget__subtitle">Submitted</div>
                                </div>
                                <div class="widget__box widget__box--left">
                                    <div class="widget__informer">{{@summary->total}} total</div>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-12 col-lg-3 margin-bottom-20">
        
                        <div class="widget invert">
                            <div class="widget__icon_layer widget__icon_layer--right">
                                <span class="li-archive2"></span>
                            </div>
                            <div class="widget__container">
                                <div class="widget__line">
                                    <div class="widget__icon">
                                        <span class="li-archive2"></span>
                                    </div>
                                    <div class="widget__title">Approved Applications</div>
                                    <div class="widget__subtitle">Submitted</div>
                                </div>
                                <div class="widget__box widget__box--left">
                                    <div class="widget__informer">{{@summary->success}} Approved</div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <div class="col-12 col-lg-3 margin-bottom-20">
        
                        <div class="widget invert">
                            <div class="widget__icon_layer widget__icon_layer--right">
                                <span class="li-archive2"></span>
                            </div>
                            <div class="widget__container">
                                <div class="widget__line">
                                    <div class="widget__icon">
                                        <span class="li-archive2"></span>
                                    </div>
                                    <div class="widget__title">Pending Applications</div>
                                    <div class="widget__subtitle">Submitted</div>
                                </div>
                                <div class="widget__box widget__box--left">
                                    <div class="widget__informer">{{@summary->pending}} Pending</div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <div class="col-12 col-lg-3 margin-bottom-20">
        
                        <div class="widget invert">
                            <div class="widget__icon_layer widget__icon_layer--right">
                                <span class="li-archive2"></span>
                            </div>
                            <div class="widget__container">
                                <div class="widget__line">
                                    <div class="widget__icon">
                                        <span class="li-archive2"></span>
                                    </div>
                                    <div class="widget__title">Rejected Applications</div>
                                    <div class="widget__subtitle">Submitted</div>
                                </div>
                                <div class="widget__box widget__box--left">
                                    <div class="widget__informer">{{@summary->rejected}} Rejected</div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-12 col-lg-3 margin-bottom-20">
        
                        <div class="widget invert">
                            <div class="widget__icon_layer widget__icon_layer--right">
                                <span class="li-archive2"></span>
                            </div>
                            <div class="widget__container">
                                <div class="widget__line">
                                    <div class="widget__icon">
                                        <span class="li-archive2"></span>
                                    </div>
                                    <div class="widget__title">Total Staff</div>
                                    <div class="widget__subtitle"></div>
                                </div>
                                <div class="widget__box widget__box--left">
                                    <div class="widget__informer">{{@staff->total}} total</div>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-12 col-lg-3 margin-bottom-20">
        
                        <div class="widget invert">
                            <div class="widget__icon_layer widget__icon_layer--right">
                                <span class="li-archive2"></span>
                            </div>
                            <div class="widget__container">
                                <div class="widget__line">
                                    <div class="widget__icon">
                                        <span class="li-archive2"></span>
                                    </div>
                                    <div class="widget__title">Active Staff</div>
                                    <div class="widget__subtitle"></div>
                                </div>
                                <div class="widget__box widget__box--left">
                                    <div class="widget__informer">{{@staff->active}} active</div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <div class="col-12 col-lg-3 margin-bottom-20">
        
                        <div class="widget invert">
                            <div class="widget__icon_layer widget__icon_layer--right">
                                <span class="li-archive2"></span>
                            </div>
                            <div class="widget__container">
                                <div class="widget__line">
                                    <div class="widget__icon">
                                        <span class="li-archive2"></span>
                                    </div>
                                    <div class="widget__title">Deactivated Staff</div>
                                    <div class="widget__subtitle"></div>
                                </div>
                                <div class="widget__box widget__box--left">
                                    <div class="widget__informer">{{@staff->deactivated}} deactivated</div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <div class="col-12 col-lg-3 margin-bottom-20">
        
                        <div class="widget invert">
                            <div class="widget__icon_layer widget__icon_layer--right">
                                <span class="li-archive2"></span>
                            </div>
                            <div class="widget__container">
                                <div class="widget__line">
                                    <div class="widget__icon">
                                        <span class="li-archive2"></span>
                                    </div>
                                    <div class="widget__title">Withdrawn Staff</div>
                                    <div class="widget__subtitle"></div>
                                </div>
                                <div class="widget__box widget__box--left">
                                    <div class="widget__informer">{{@staff->withdrawn}} withdrawn</div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
        
                
        
            </div>
            <div class="col-12 col-lg-3">
        
                
        
            </div>
        </div>

    </div>
</div>

<!-- //END PAGE CONTENT -->

