<div class="row ">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card-body">
            
            <p class="subtitle margin-bottom-20">You can send a Deen Consult customized mail here</p>
            <repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
                <div class="alert alert-{{ @msg.status }} alert-dismissable">
                    {{ @msg.text }}
                </div>
            </repeat>
            <form method="post" class="message-post" action="{{@BASE}}/messaging/compose">
                <input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
                <div class="form-group">
                    <label>To</label>
                    <textarea class="form-control" rows="1%" cols="100%" name="to"></textarea>
                </div>
                <div class="form-group">
                    <label>CC</label>
                    <textarea class="form-control" rows="1%" cols="100%" name="cc"></textarea>
                </div>
                <div class="form-group">
                    <label>BCC</label>
                    <textarea class="form-control" rows="1%" cols="100%" name="bcc"></textarea>
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <input type="text" name="subject" class="form-control" required="required" >
                </div>
                <div class="form-group">

                    <div>
                        <div class="main-container">
                            <div class="editor-container editor-container_document-editor editor-container_include-style" id="editor-container">
                                <div class="editor-container__menu-bar" id="message-menu-bar"></div>
                                <div class="editor-container__toolbar" id="message-toolbar"></div>
                                <div class="editor-container__editor-wrapper">
                                    <div class="editor-container__editor">
                                        <div id="editor" class="my-editor" data-name="message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                
                <div class="form-group" id="sign_button">
                    <button type="submit" class="btn btn-secondary">Send</button>
                </div>
            </form>
    
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {

        $( '.message-post' ).submit( function( e ) {
            $(".my-editor").each(function(){
                var input = document.createElement("input");
                input.setAttribute("type", "hidden");
                input.setAttribute("name", $(this).attr('data-name'));
                input.setAttribute("value", $(this).html());
                
                document.querySelector(".message-post").appendChild(input);
            })
        })
    })
</script>