<div class="row">

    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{@BASE}}/applicant/123456" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_1.jpg">
                        <div class="user__name">
                            <strong>Dmitry Ivaniuk</strong><br>
                            <span class="text-muted">Kyiv, Ukraine</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">dmitryivaniuk@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_4.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_5.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">15 min ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_2.jpg">
                        <div class="user__name">
                            <strong>Dolores North</strong><br>
                            <span class="text-muted">LA, USA</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">doloresnorth@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">25 min ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_3.jpg">
                        <div class="user__name">
                            <strong>Peter Wolkonsky</strong><br>
                            <span class="text-muted">Varshava, Poland</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">wolkonsky@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_4.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_5.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_6.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">online</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_5.jpg">
                        <div class="user__name">
                            <strong>John Doenson</strong><br>
                            <span class="text-muted">London, UK</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">doenson@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">12 min ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_4.jpg">
                        <div class="user__name">
                            <strong>Jane Olkoskovich</strong><br>
                            <span class="text-muted">Tel Aviv, Israel</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">olkoskovich@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">35 min ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_6.jpg">
                        <div class="user__name">
                            <strong>Olga Dvernikovskaya</strong><br>
                            <span class="text-muted">Kyiv, Ukraine</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">dvernikovskaya@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_4.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_5.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">45 min ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_7.jpg">
                        <div class="user__name">
                            <strong>Sergey Popov</strong><br>
                            <span class="text-muted">Varshava, Poland</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">popov@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">12 min ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_8.jpg">
                        <div class="user__name">
                            <strong>Viktoria Secret</strong><br>
                            <span class="text-muted">Paris, France</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">vsecret@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_4.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_5.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_7.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_8.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">12 min ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_9.jpg">
                        <div class="user__name">
                            <strong>Alexey Ponomarenko</strong><br>
                            <span class="text-muted">Kharkov, Ukraine</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">ponomarenko@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">35 min ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-3">

        <div class="card card-inner-container--up">
            <div class="card-container">
                <div class="dropdown">
                    <div class="rw-btn rw-btn--card" data-bs-toggle="dropdown"><div></div></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">User profile</a>
                        <a href="#" class="dropdown-item">Permissions</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-demo-action="remove">Remove user</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-inner-container card-inner-container card-inner-container--light">
                    <div class="user user--rounded user--bordered user--lg margin-bottom-0">
                        <img src="assets/img/users/user_10.jpg">
                        <div class="user__name">
                            <strong>Jasy Kowalsky</strong><br>
                            <span class="text-muted">Odessa, Ukraine</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20 text-center">
                    <div class="col-12">
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper, libero nec vehicula vehicula, magna augue posuere neque, vitae sagittis tellus ligula pulvinar ipsum.</p>
                    </div>
                    <div class="col-12">
                        <div class="text-muted margin-bottom-5">jasy@domain.com</div>
                    </div>
                    <div class="col-12">
                        <div class="text-muted">+01 2345 6789 01</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="user-group user-group--bordered">
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_1.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_2.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_3.jpg">
                            </div>
                            <div class="user user--rounded">
                                <img src="assets/img/users/user_4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-muted">49 min ago</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<nav>
    <ul class="pagination pagination--space">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>