<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration &mdash; {{@business}}</title>

        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" href="{{@BASE}}/{{@ASSETS}}css/styles.css?v=1.0.3">
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>
        <!-- PAGE WRAPPER -->
        <div class="page">

            <!-- PAGE CONTENT WRAPPER -->
            <div class="page__content" id="page-content">

                <div class="content d-none d-lg-block" id="content" style="background: url({{@BASE}}/{{@ASSETS}}assets/img/backgrounds/bridge.jpg) left center no-repeat; width: 100vw; height: 100vh; background-size: cover;">
                    <a href="/" class="logo-holder logo-holder--lg logo-holder--wide" style="margin-top: 26%;">
                        <div class="logo-text">
                            <strong class="text-primary">
                                <img src="{{@BASE}}/ui/img/logo.png" style="width:250px;" />
                            </strong>
                        </div>
                        
                    </a>
                    <div style="margin-top:50%; margin-left:20%; color: #fff; font-size: 5em;">{{@business}}</div>
                </div>

                <!-- PAGE LOGIN CONTAINER -->
                <div class="important-container login-container">
                    
                    <div class="content">

                        <a href="/" class="logo-holder logo-holder--lg logo-holder--wide">
                            <div class="logo-text"><strong class="text-primary"><img src="{{@BASE}}/ui/img/logo.png" style="width:100px;" /></div>
                        </a>
                        <br><br>
                        <p class="caption text-center margin-bottom-30">Welcome to Right Way admin template</p>
                        <repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
                            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                                <button type="button" class="btn-close" data-dismiss="alert" aria-hidden="true"></button>
                                {{ @msg.text }}
                            </div>
                        </repeat>
                        <form action="{{@BASE}}/invitation/{{@id}}" method="post">
                            
                            <input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
                            <div class="form-group margin-bottom-20">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Your password" name="password" autocomplete="new-password">
                            </div>

                            <hr>
                            <div class="form-group margin-bottom-20">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Confirm your password" name="cpassword" autocomplete="new-password">
                            </div>

                            <div class="form-group margin-bottom-30">
                                <div class="row">
                                    <div class="col-12">
                                       <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="">
                                          <label class="form-check-label">Don't send me spam!</label>
                                       </div>                                             
                                    </div>
                                </div>
                            </div>

                            <div class="form-group margin-bottom-30">
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <button class="btn btn-primary btn-block">Create Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="divider"></div>

                        <div class="form-group text-center">
                            <div class="row">
                                <div class="col-4">
                                    <a href="../index.php" class="text-muted">Home</a>
                                </div>
                                <div class="col-4">
                                    <a href="../about.php" class="text-muted">About Us</a>
                                </div>
                                <div class="col-4">
                                    <a href="../contact.php" class="text-muted">Contacts</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- PAGE LOGIN CONTAINER -->

                
            </div>
            <!-- //END PAGE CONTENT -->

        </div>
        <!-- //END PAGE WRAPPER -->

        <!-- //END TEMPLATE SETTINGS -->
        <!-- IMPORTANT SCRIPTS -->
        <script type="text/javascript" src="{{@BASE}}/{{@ASSETS}}js/vendors/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="{{@BASE}}/{{@ASSETS}}js/vendors/jquery/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="{{@BASE}}/{{@ASSETS}}js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
        
        <script type="text/javascript" src="{{@BASE}}/{{@ASSETS}}js/vendors/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- END IMPORTANT SCRIPTS -->
        <!-- TEMPLATE SCRIPTS -->
        <script type="text/javascript" src="{{@BASE}}/{{@ASSETS}}js/app.js"></script>
        <script type="text/javascript" src="{{@BASE}}/{{@ASSETS}}js/plugins.js"></script>
        <script type="text/javascript" src="{{@BASE}}/{{@ASSETS}}js/demo.js"></script>
        <script type="text/javascript" src="{{@BASE}}/{{@ASSETS}}js/settings.js"></script>
        <!-- END TEMPLATE SCRIPTS -->
    </body>
</html>